<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/global.css" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:800,500' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <title>Swallow</title>
    </head>
    <body>
        <div>
            <a class="github-fork-ribbon" href="https://www.github.com/JPeer264/swallow" title="Fork me on GitHub">Fork me on GitHub</a>
        </div>
        {{> header }}

        <section class="sw-section sw-section--dark sw-section--bubble-down">
        <div class="row">
            <div class="column"></div>
            <div class="column column--center">
                <div>
                    <h1>Swallow</h1>
                    <p>A CI optimized gulp boilerplate for testing, linting, live coding, and much more</p>
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/JPeer264/swallow" data-icon="octicon-star" data-style="mega" data-count-href="/JPeer264/swallow/stargazers" data-count-api="/repos/JPeer264/swallow#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star JPeer264/swallow on GitHub">Star</a>
                </div>
            </div>
        </div>
        </section>

        {{> footer }}

        <script src="assets/js/vendor.js"></script>
        <script src="assets/js/main.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
