<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/global.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:800,500' rel='stylesheet' type='text/css'>

    <title>Swallow</title>
</head>
<body>
    {{> header }}

    <div class="sw-header">
        <div class="row">
            test
        </div>
    </div>

    <section class="sw-section sw-section--dark sw-section--bubble-down">
        <div class="row">
            <h1>Swallow</h1>
        </div>
    </section>

    <section class="sw-section">
    </section>

    <script src="assets/js/vendor.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
